
html, body, div, h1, h2, h3, h4, h5, h6, p, ul, li, span {
	margin: 0;
	padding: 0;
	line-height: 1;
	}
  /*Font Face Fontello*/
@font-face {
  font-family: 'fontello';
  src: url('./fonts/fontello/fontello.eot?11696308');
  src: url('./fonts/fontello/fontello.eot?11696308#iefix') format('embedded-opentype'),
       url('./fonts/fontello/fontello.woff?11696308') format('woff'),
       url('./fonts/fontello/fontello.ttf?11696308') format('truetype'),
       url('./fonts/fontello/fontello.svg?11696308#fontello') format('svg');
  	font-weight: normal;
  	font-style: normal;
	font-variant: normal;
	speak: none;
	}

/*Font Face Linecons*/
@font-face {
	font-family: 'linecons';
	src:url('./fonts/linecons/linecons.eot');
	src:url('./fonts/linecons/linecons.eot?#iefix') format('embedded-opentype'),
		url('./fonts/linecons/linecons.ttf') format('truetype'),
		url('./fonts/linecons/linecons.woff') format('woff'),
		url('fonts/linecons/linecons.svg#linecons') format('svg');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	speak: none;
	}
	
img {
	border: none;
	}

a, a:link, a:active, a:visited, a:hover {
	text-decoration: none;
	outline: none;
	}

ul {
	list-style-type: none;
	}

body {
	color: #767e9e;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 400;
	}

h2 {
	font-size: 30px;
	font-weight: 900;
	color: #666d89;
	margin: 0 0 21px 0;
	}
	
h3 {
	font-size: 18px;
	font-weight: 300;
	color: #767e9e;
	line-height: 1.6;
	}
	
h4 {
	font-size: 18px;
	font-weight: 900;
	color: #666d89;
	margin: 0 0 10px 0;
	}
	
p {
	font-size: 12px;
	font-weight: 400;
	line-height: 1.7;
	color: #767e9e;
	}
	
.left {
	float: left;
	}
	
.right {
	float: right;
	}

.both {
	clear: both;
	display: block;
	overflow: hidden;
	width: 0;
	height: 0;
	}

.inner {
	margin: 0 auto;
	max-width: 940px;
	padding: 67px 10px;
	overflow: hidden;
	}

/*----------header----------*/

#header {
	width: 100%;
	background: #2d303a;
	overflow: hidden;
	border-bottom: 6px solid #323746;
	}

#header .inner {
	padding-top: 34px;
	padding-bottom: 34px;
	}

  h1.logo {
	width: 115px;
	height: 20px;
	background: url(./images/logo.png) no-repeat;
	text-indent: -9999px;
	}

h1.logo a {
	display: block;
	height: 100%;
	}

h1.logo:hover {
	height: 20px;
	}

  .left {
	float: left;
	}

  ul.nav-menu {
	padding: 9px 0 0 0;
	}

ul.nav-menu li {
	float: left;
	font-size: 12px;
	font-weight: 700;
	color: #494e62;
	text-transform: uppercase;
	}

ul.nav-menu li:before {
  font-family: 'fontello';
	content: "\e804";
	}
	
ul.nav-menu li:first-child:before {
	content: "\e804";
	color: #2d303a;
	}

ul.nav-menu li:first-child a {
	margin-left: 0px;
	}

ul.nav-menu li:last-child a {
	margin-right: 0px;
	}

ul.nav-menu li a {
	color: #ffffff;
	display: inline-block;
	margin: 0 13px 0 13px;
	}

ul.nav-menu li a:hover {
	color: #f06c64;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	}

  .right {
	float: right;
	}

  /*-----------slider------------*/

#slider {
	background: #f06c64;
	overflow: hidden;
	border-bottom: 6px solid #ea676b;
	}

#slider .inner {
	padding-top: 53px;
	padding-bottom: 53px;
	}

  .theme-default .nivoSlider {
	position:relative;
	background: transparent url(./images/loading.gif) no-repeat 50% 50%;
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	text-align: center;
	padding: 20px 0;
}
.theme-default .nivo-controlNav a {
	display:inline-block;
	width:22px;
	height:22px;
	background:url(./images/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin: 0 2px;
}
.theme-default .nivo-controlNav a.active {
	background-position:0 -22px;
}

.theme-default .nivo-directionNav a {
	display:block;
	width:16px;
	height:27px;
	background: url(./images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.theme-default:hover .nivo-directionNav a { opacity: 1; }
.theme-default a.nivo-nextNav {
	background-position:-16px 0;
	right:15px;
}
.theme-default a.nivo-prevNav {
	left:15px;
}

.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}
.nivoSlider {
	position:relative;
	height:auto;
	/*overflow: hidden;*/
	max-width: 940px;
	max-height: 488px;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}

/*--------------services-----------*/

#services {
	background: #f2f2f2;
	overflow: hidden;
	border-bottom: 6px solid #ffffff;
	}
	
#services .inner {
	padding-bottom: 31px;
	}
	
#services ul {
	padding: 46px 0 0 0;
	}

#services ul li {
	float: left;
	padding: 0 20px 0 0;
	max-width: 290px;
	margin: 0 0 36px 0;
	}

#services ul li span {
	float: left;
	width: 56px;
	height: 56px;
	line-height: 56px;
	text-align: center;
	font-size: 35px;
	font-family: 'linecons';
	color: #666d89;
	background: transparent;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #666d89;
	margin: 0 10px 0 0;
	}
	
#services ul li:hover span {
	color: #f06c64;
	border: 2px solid #f06c64;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	}

.li_heart:before {
	content: "\e000";
	}

.li_star:before {
	content: "\e002";
	}

.li_bulb:before {
	content: "\e00e";
	}

.li_pen:before {
	content: "\e00f";
	}

.li_bubble:before {
	content: "\e014";
	}

.li_phone:before {
	content: "\e017";
	}

#services ul li h4 {
	float: right;
	width: 220px;
	}

#services ul li p {
	float: right;
	width: 220px;
	text-align: justify;
	}

  /*---------portfolio--------*/

  #portfolio {
	background: #2d303a;
	overflow: hidden;
	border-bottom: 6px solid #323746;
	}
	
#portfolio .inner {
	padding-bottom: 52px;
	}
	
#portfolio .inner h3 {
	margin-bottom: 12px;
	}

/*Portfolio Menu*/
#portfolio ul.portfolio-menu {
	width: 100%;
	overflow: hidden;
	}

#portfolio ul.portfolio-menu li {
	float: left;
	display: inline;
	margin: 0 10px 0 0;
	font-size: 12px;
	font-weight: 300;
	}

#portfolio ul.portfolio-menu li a {
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #666d89;
	color: #767e9e;
	padding: 4px 7px;
	height: 100%;
	display: block;
	}

#portfolio ul.portfolio-menu li a:hover,
#portfolio ul.portfolio-menu li.current a {
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #c5c5c5;
	color: #dedede;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	}

/*Portfolio*/
#portfolio ul.portfolio {
	width: 100%;
	padding: 19px 0 0 0;
	}

#portfolio ul.portfolio li {
	float: left;
	display: inline;
	margin: 0 15px 15px 0;
	}

#portfolio ul.portfolio li a {
	height: 100%;
	display: block;
	}

#portfolio ul.portfolio li a:hover {
	opacity: 0.6;
	filter: alpha(opacity=60);
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	}

  /*---------about----------------*/

  #about {
	background: #f2f2f2;
	overflow: hidden;
	border-bottom: 6px solid #ffffff;
	}
	
#about ul {
	padding: 46px 0 0 0;
	}

#about ul li {
	width: 300px;
	float: left;
	display: inline;
	margin: 0 0 0 20px;
	}

#about ul li:first-child {
	margin-left: 0;
	}

#about ul li img,
#about ul li h4,
#about ul li p {
	display: block;
	}

#about ul li img {
	margin: 0 0 17px 0;
	}

#about ul li p {
	margin: 0 0 24px 0;
	}

#about ul li a {
	display: block;
	}
	
#about ul li span {
	font-family: "fontello";
	float: left;
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin: 0 10px 0 0;
	background: transparent;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #6a718c;
	color: #6a718c;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	}

#about ul li span:hover {
	border: 1px solid #f06c64;
	color: #f06c64;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	}

.icon-twitter:before { content: '\e802'; }
.icon-facebook:before { content: '\e800'; }
.icon-gplus:before { content: '\e801'; }
.icon-linkedin:before { content: '\e803'; }	

#about ul li span {
	line-height: 35px;
	}


/*---------contact----------*/

#contact {
	background: #f06c64;
	overflow: hidden;
	border-bottom: 6px solid #ea676b;
	}

#contact h2,
#contact h3,
#contact h4,
#contact p,
#contact span {
	color: #f0d8d9;
	}
	
#contact ul {
	padding: 44px 0 0 0;
	overflow: hidden;
	}
	
#contact ul li {
	float: left;
	display: inline;
	max-width: 300px;
	padding: 0 0 0 10px;
	}

#contact ul li:first-child {
	padding: 0 10px 0 0;
 	max-width: 620px;
	}
	
form {
	}

input {
	background: #d6564f;
 	max-width: 590px;
 	width: 590px;
	height: 38px;
	line-height: 38px;
	border: 0;
	font-size: 12px;
	color: #f48c8f;
	font-family: 'Lato', sans-serif;
	padding: 0px 15px;
	margin: 0 0 16px 0;
	outline: none;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	border-radius: 5px;
	}

textarea {
	background: #d6564f;
	max-width: 590px;
	width: 590px;
	height: 202px;
	max-height: 202px;
	border: 0;
	padding: 15px;
	margin: 0 0 16px 0;
	outline: none;
	overflow: auto;
	resize: none;
	font-size: 12px;
	color: #f48c8f;
	font-family: 'Lato', sans-serif;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	border-radius: 5px;
	}

.submitbtn {
	padding: 0;
	margin: 0;
	background: #d6564f;
	overflow: hidden;
	width: 110px;
	height: 38px;
	line-height: 38px;
	cursor: pointer;
	outline: none;
	text-align: center;
	font-size: 14px;
	color: #f48c8f;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	}

.submitbtn:hover {
	background: #2d303a;
	color: #666d89;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	}

#contact p {
	margin: 0 0 25px 0;
	text-align: justify;
	}
	
#contact span {
	display: block;
	font-size: 12px;
	margin: 0 0 6px 0;
	}

#contact span i {
	font-family: 'fontello';
	margin: 0 10px 0 0;
	font-weight: normal;
	font-style: normal;
	vertical-align: middle;
	}
	
#contact span i.li_location {
	font-family: 'linecons';
	}

.li_location:before { content: '\e012'; }
.icon-mail:before { content: '\e806'; }
.icon-phone:before { content: '\e805'; }

/*---------footer------------*/

#footer {
	background: #2d303a;
	overflow: hidden;
	}

#footer .inner {
	padding-top: 22px;
	padding-bottom: 22px;
	}
	
#footer p {
	color: #666d89;
	}	
	
#footer p a {
	line-height: 32px;
	color: #666d89;
	}	
	
#footer p a:hover {
	color: #f06c64;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	}	
	
#footer ul {
	float: right;
	}	
	
#footer ul li span {
	font-family: "fontello";
	float: left;
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin: 0 10px 0 0;
	background: transparent;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #6a718c;
	color: #6a718c;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	}

#footer ul li span:hover {
	border: 1px solid #f06c64;
	color: #f06c64;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	}

  /*----------back to top--------*/
  
  .go-top {
	position: fixed;
	bottom: 2em;
	right: 2em;
	color: #ffffff;
	background-color: #323746;
	font-size: 12px;
	padding: 1em;
	display: none;
		-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	border-radius: 5px;
	}

.go-top:hover {
	color: #ffffff;
	background-color: #232732;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	}

  #footer ul li span {
	line-height: 33px;
	}


